*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Montserrat;
    zoom: 0.97;
}
body{
    z-index: 1;
    background-color: black;
}
.banner{
    height: 100px;
    background-color: rgb(0, 170, 114);
    z-index: 3;
    position: fixed;
    top: 0px;
    width: 100%;
    margin: auto;

}
a:hover{
    color: black;
    border-bottom: 2px solid black;
}
h1{
    color: white;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
ul{
    text-align: center;
}
.jordanIs{
    margin: 0px 130px;
    padding: 20px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 30px;
    background-image: url(./resources/Images/ocean.png);
    background-size: cover;
}
h3{
    font-size: 20px;
    color: rgb(0, 231, 154);
    text-align: left;
    margin: 0px 0px 10px 0px;
    letter-spacing: 1px;
    position: relative;
    bottom: 4px;
}
.jordanIs h2{
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 30px;
}
li p{
    margin-right: 50px;
    font-weight: 500;
}
ul li{
    display:inline-block;
    list-style: none;
    text-align: left;
}
.spacer img{
    width: 50px; 
    height: 50px; 
    border: 2px solid white; 
    border-radius: 10px; 
    background-color: white; 
    margin-right: 10px; 
}
.spacer li{
    list-style: none;
    display: inline-block;
    position: relative;

}
.spacer{
    margin: 0px 5px 50px 0px;
    text-align: left;
}
a img{
    width: 25px;
    height: 25px;
    position: relative;
    bottom: 2px;
}
ul div a{
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 46px;
    resize: both;
    left: 90px;
}
p{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 130%;
    word-spacing: 1px;
}
.inTouch{
    background-color: black;
    padding: 60px;
}
input{
    color: black;
    padding: 10px;
    background-color: rgb(186, 186, 186);
    border: 2px solid white;
    width: 499px;
    margin-bottom: 40px;
    outline: none;
    font-size: 18px;
    letter-spacing: 1px;
}
input::placeholder{
    color: rgb(116, 116, 116);
    font-size: 16px;
}
input::selection{
    background-color: rgb(0, 231, 154);
}
textarea{
    color: black;
    padding: 10px;
    background-color: rgb(186, 186, 186);
    border: 2px solid white;
    outline: none;
    font-size: 18px;
    letter-spacing: 1px;
}
textarea::placeholder{
    color: rgb(116, 116, 116);
    font-size: 16px;
}
textarea::selection{
    background-color: rgb(0, 231, 154);
}
.button {
    transition-duration: 0.25s;
    margin: 40px 0px 0px 0px;
    padding: 10px;
    width: 150px;
    background-color: black;
    border: 2px solid white;
    letter-spacing: 2px;
    font-weight: 500;
}
.button:hover {
    background-color: rgb(1, 183, 122);
    color: white;
    cursor: pointer;
}






